  .container {
    text-align:center;
    width:100%;
    height:auto;
    padding-top:130px;
    margin:0 auto;
  }

  .footer {
    background:#f2f2f2;
    font-family:arial;
    font-color:#757575;
    padding:5px;
    bottom:0;
    position:fixed;
    width:100%;
    left:-5px;
}
.footer:after {
    display:block;
    clear:both;
    content: "";
    height:0;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.scores {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  padding: 1%
}

.events {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 1%
}

